@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

@font-face {
  font-family: 'Afacad';
  src: url('/Fonts/static/Afacad-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Afacad, sans-serif;
}

.fond{
  background: rgb(27,92,22);
background: linear-gradient(132deg, rgba(27,92,22,1) 0%, rgba(49,121,9,1) 35%, rgba(255,165,17,1) 100%);
}

.carousel .slide img {
  width: 100%; /* Remplit le conteneur */
  height: 350px; /* Hauteur fixe (modifiable) */
  background: cover/center;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}